@import "tailwindcss";

@import "tw-animate-css";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme inline {
  --radius: 0.5rem;

  --color-background: hsla(20, 14.3%, 4.1%, 1);
  --color-foreground: hsla(60, 9.1%, 97.8%, 1);

  --color-card: hsla(20, 14.3%, 4.1%, 1);
  --color-card-foreground: hsla(60, 9.1%, 97.8%, 1);

  --color-popover: hsla(20, 14.3%, 4.1%, 1);
  --color-popover-foreground: hsla(60, 9.1%, 97.8%, 1);

  --color-primary: hsla(60, 9.1%, 97.8%, 1);
  --color-primary-foreground: hsla(24, 9.8%, 10%, 1);

  --color-secondary: hsla(12, 6.5%, 15.1%, 1);
  --color-secondary-foreground: hsla(60, 9.1%, 97.8%, 1);

  --color-muted: hsla(12, 6.5%, 15.1%, 1);
  --color-muted-foreground: hsla(24, 5.4%, 63.9%, 1);

  --color-accent: hsla(12, 6.5%, 15.1%, 1);
  --color-accent-foreground: hsla(60, 9.1%, 97.8%, 1);

  --color-destructive: hsla(0, 62.8%, 30.6%, 1);
  --color-destructive-foreground: hsla(60, 9.1%, 97.8%, 1);

  --color-border: hsla(12, 6.5%, 15.1%, 1);
  --color-input: hsla(12, 6.5%, 15.1%, 1);
  --color-ring: hsla(24, 5.7%, 82.9%, 1);

  --radius-lg: var(--radius);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
